# These owners will be automatically requested for review
# when someone opens a pull request.
#
# Global rule:
* @gbitcat

# Flutter and Android host code
flutter_app/ @gbitcat

# Build scripts
scripts/ @gbitcat

# Documentation
*.md @gbitcat

# GitHub configuration
.github/ @gbitcat
